{% extends "layout.html" %}
{% block content %}
<head>
    <title>Home</title>
    <h1 style="color:lightcoral; text-align: center"></h1>
</head>

<body>
<header>
    <div class="flex_container"
     style="font: size 24px">
        <div> La <strong>aventura erasmus</strong> puede parecer caótica, pero al mismo tiempo ser la etapa más bonita de tu vida estudiantil.</div>   
     
    <div class="flex_container2"
    style="font: size 24px"></div>
        <div>Buscamos desprendernos del atributo caótico haciendo de la experiencia fácil, accesible e interactiva.</div>
    <div class="flex_container3"
    style="font: size 24px"></div>
   <div> Para conocer más sobre <strong>Salamanca</strong>, visitar el siguiente (<a href="{{ url_for('business') }}">enlace</a>)
    Para dejar un comentario sobre nuestra app,
    visitar el siguiente (<a href="{{ url_for('ERASMUSAL') }}">enlace</a>).
    <div> Queremos que conozcais a las personas que quieren hacer de vuestra experiencia mucho más especial. Todos somos estudiantes de la asignatura Emprendedores de la PYMES, en la USAL.</div>
</p>
</header>
<div class="flex_container4"
 style="font: size 24px; text-align: left">
    <strong>Desarrolladores:</strong>
    <div class="flex_container5"
     style="font-size:24px; text-align: left">
        <li>
            <div class="card">
            Desarrollador 1: Lucia Leralta Aparicio.    

            <a href="https://www.linkedin.com/in/lucia-leralta-aparicio-b06946225/" target="_blank" class="inside_button2", style="background-color:#f3c0c0; ">linkedin</a>
            <p><img src="/static/images/lucia.png" alt="Lucia.png" style="width: 215px; height: auto;border-radius: 60%; object-fit: cover;"></p>

            <li>
            <div class="card">
            Desarrollador 2: Nerea de Sousa Patao. 
            
            <a href="https://www.linkedin.com/in/nerea-de-sousa-patao-45155b216/" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/nerea.png" alt="nerea.png" style="width: 200px; height: auto;border-radius: 50%; object-fit: cover;"> </p>

        </li>
        <li>
            <div class="card">
            Desarrollador 3: Pablo Pavón González. 
            
            <a href="http://www.linkedin.com/in/pablo-pavón-gonzález-7a4b6327a" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/pavon2.png" alt="pavon2.png" style="width: 200px; height: auto;border-radius: 50%; object-fit: cover;"> </p>
           
        </li>
        <li>
            <div class="card">
             Desarrollador 4: Laura Vega Santiago. 

            <a href="https://www.linkedin.com/in/laura-vega-santiago-6724a2339?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/laura.png" alt="laura.png" style="width: 200px; height: auto;border-radius: 50%; object-fit: cover;"> </p>
        </li>
        <li>
            <div class="card">
            Desarrollador 5: Alberto Patricio Martín.                                                                               
            <a href="https://www.linkedin.com/in/alberto-patricio-6394b1339/" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/alberto.png" alt="alberto.png" style="width: 200px; height: auto;border-radius: 50%; object-fit: cover;"> </p>

            </li>
        <li>
            <div class="card">
            Desarrollador 6: Celia de Roa Moral. 
            
            <a href="https://www.linkedin.com/in/celia-de-roa-moral-6386762a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/celia.png" alt="celia.png" style= "width: 200px; height: auto;border-radius: 60%; object-fit: cover;"></p>

        </li>
        <li>
            <div class="card">
            Desarrollador 7: Elena García Aragunde. 
            
            <a href="https://www.linkedin.com/in/elena-garc%C3%ADa-b323b632a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="inside_button2", style="background-color:#f3c0c0;">linkedin</a>
            <p><img src="/static/images/elena.png" alt="elena.png" style= "width: 200px; height: auto;border-radius: 60%; object-fit: cover;"> </p>
        
        </li>
     </div>
</body>
</p>
{% endblock content %}

